
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.icon-white {
  color: white;
}
#mapContainer {
  height: 90vh;
<<<<<<< HEAD
  width: 100vw;
}

span{
  background:#F8F8F8;
  border: 5px solid #DFDFDF;
  color: #717171;
  font-size: 13px;
  height: 30px;
  letter-spacing: 1px;
  line-height: 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: -80px;
  left:-30px;
  display:none;
  padding:0 20px;
  
}
span:after{
  content:'';
  position:absolute;
  bottom:-10px; 
  width:10px;
  height:10px;
  border-bottom:5px solid #dfdfdf;
  border-right:5px solid #dfdfdf;
  background:#f8f8f8;
  left:50%;
  margin-left:-10px;
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}
p{
  margin:100px;
  float:left;
  position:relative;
  cursor:pointer;
}

p:hover span{
  display:block;
}
=======
  width: 100%;
}
.jumbotron {
  background-image: url("../images/background.jpeg");
  background-size: cover;
}
<<<<<<< HEAD
>>>>>>> 17b6370b9f78840fdb3a4ee3db975382846a07d9
=======

.jumbotext {
color: white;
letter-spacing: 5px;
}
>>>>>>> b81f3555d3a4494d752804680bc82953fa1a2b2a
